<div class="col_full center nomargin nopadding" style=" display: flex;flex-direction: column;justify-content: space-between; min-height: 50vh;background: white">
  <div></div>
  <div class="center divcenter row clearfix commonheight leftmargin-sm" style=" ">

    <h2 class=" herotext" style="background: transparent;  font-weight: 200; text-align: left">Long Term Technology <br> <b>Acceleration</b> for Web Products</h2>
  </div>

</div>