<head>
    <%=stylesheet_link_tag "simple" %>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
</head>
<body>
  <div id="slide 1" class="step"></div>
  Hello
  <div id="slide 2" class="step">
    How are you?
  </div>
  <div id="slide 3" class="step">
    I am fine
  </div>
  <div id="slide 4" class="step">
    Good
  </div>
</body>
